/* CSS reset start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* CSS reset END*/
/*Custom CSS strat*/
html{
	scroll-behavior: smooth;
	overflow-x: hidden;
}
body{
	font-family: 'Work Sans', sans-serif;
}
.wrapper{
	width: 950px;
	margin:auto;
}
header {
    height: 1000px;
    background-image: url(image/header-bg.png);
    background-repeat: no-repeat;
    /* background-size: 885px 988px; */
    background-position: 655px 14px;
}
.header-top {
	    padding-top: 70px;
	    margin-left: -100px;
}
.header-top a{
	color: #314584;
    text-decoration: none;
    font-weight: bold;
}

.header-top ul{
}
.header-top ul li{
}

.navigation {
}
.navigation ul{
	text-align: center;
}
.navigation ul li{	
}

.logo {
	width: 100px;
	float: left;
}

.menu {
	width: 600px;
	float: left;
}
.menu ul{

}
.menu ul li, .right-menu ul li{

	display: inline-block;
    margin-right: 25px;
}
.menu ul li:last-of-type, .right-menu ul li:last-of-type {
    margin-right: 0px;
}
.right-menu ul li:last-of-type {
    padding: 10px 10px 10px 10px;
    border-radius: 5px;
    box-shadow: 1px 2px 5px 1px #cac9c9;
}
.right-menu {
	width: 350px;
	float: left;
	margin-top: -10px;
}
.right-menu ul {
}
.right-menu ul li{
}
.right-menu ul li a:hover,.menu ul li a:hover{
	color: #ff3946;
}
.right-menu ul li:last-of-type a{
	color: #ff3946;
}

.header-content {
	clear: both;
    width: 50%;
    margin-top: 300px;
}
.header-content h2{
	
    clear: both;
    color: #314584;
    text-transform: capitalize;
    font-size: 73.48px;
    font-weight: bold;
}
.header-content p{
	clear: both;
	color: #ced1d2;
	margin-top: 25px;
}
.header-content ul{
	padding-top: 30px;
	
}
.header-content ul li{
	padding-right: 20px;
    display: inline-block;
}
.header-content ul li a{
	color: #314584;
    text-decoration: none;
    font-weight: bold;
	
}

.red-btn {
	background: #ff3946;
    padding: 11px 30px 11px 30px;
    border: none;
    border-radius: 25px;
    color: #fff !important;
}

.about{
	padding-top: 100px;
    padding-bottom: 300px;
    background: url(image/about-left-shape.png),url(image/about-right-shape.png);
    background-repeat: no-repeat,no-repeat;
    background-size: 180px 600px,920px 3049px;
    background-position: -140px 110px,520px -500px;
}
.about a{
	text-decoration: none;
}

.service {
	width: 100%;
	color: #314584;
}

.service-header, .service-item{
	width: 28%;
    margin-right: 5%;
    float: left;
    height: 300px;
	
}
.service-header h2{
	font-size: 45px;
    font-weight: bold;
}
.service-header ul{
	padding-top: 50px;
}
.service-header ul li{
}
	
.service-item:last-of-type{
	margin-right: 0%;	
}

.service-item{
	padding: 25px 40px 20px 20px;
    /* border: 1px solid; */
    border-radius: 5px;
    box-sizing: border-box;
    box-shadow: 1px 10px 12px #cac9c9;
    margin-right: 10%;
}
.service-item img{
	width: 20%;
}
.service-item:last-of-type img{
	    margin-top: 9px;
}
.service-item h3{
	font-weight: bold;
    font-size: 25px;
    margin-top: 35px;
    line-height: 30px;
}

.service-item p{
	margin-top: 20px;
	text-align: justify;
	font-weight: bold;
    font-size: 14.11px;
}

.us-wrapper{
	width: 100%;
	margin-top: 160px;
    margin-bottom: 60px;
}

.about-us {
	clear: both;
    width: 100%;
    padding-top: 150px; 
}
.about-image{
	width: 40%;
	float: left;
	margin-right: 10%

}
.about-image img{
	margin-left: -180px;
    width: 550px;

}
.about-content{
	width: 50%;
    float: left;
    color: #314584;
    margin-top: 30px;
}

.about-content h4{
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff3946;
}
	

.about-content h2{
	font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
	
}
.about-content p{
	margin-top: 30px;
    text-align: justify;
	
}
.about-content ul{
	margin-top: 40px;
}
.about-content ul li{
	float: left;
	color: #314584;
	margin-right: 10px;
	
}
.about-content ul li:hover{
	color: #ff3946;
	
}
i.fa.fa-arrow-left {
    color: #efefef;
    font-size: 12px;
}

.left-right-arrow ul{	
	position: relative;
    top: -45px;
    left: 880px !important;
    bottom: 0px;	
}
.left-right-arrow ul li{
	float: left;
	color: #314584;
	margin-right: 10px;
	
}
.left-right-arrow ul li:hover{
	color: #ff3946;
}
.Protfolio {
	background: url(image/protfolio-bg.png) no-repeat;
    background-size: 500px 600px;
    background-position: 0px 85px;
    clear: both;
    padding-top: 100px;
    padding-bottom: 80px;
    z-index: 2;
}
.Protfolio h2{
	font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 25px;
    color: #314584;
}
.protfolio-content {
}
.protfolio-content .picture{
	clear: both;
}
.protfolio-content .picture ul{
	width: 100%;
	margin-top: 40px;
	
}
.protfolio-content .picture ul li{
	margin-bottom: 15px;
    float: left;
    width: 31%;
    margin-right: 2%;
}

.protfolio-content .picture ul li img{
	width: 100%;
	height: 100%
}
.protfolio-content ul{
	
}
.protfolio-content ul li{
	text-align: center;
    list-style: none;
	
}
.protfolio-content ul li a{
	text-decoration: none;
	font-size: 18px;
	color: #ff3946;
	font-weight: bold;
}

.blog {
	clear: both;
    padding-top: 60px;
    width: 100%;
    z-index: 1;
    padding-bottom: 350px;
    background: url(image/blog-bg.png) no-repeat;
    background-size: 500px 450px;
    background-position: 1100px 190px;
}

.blog h4{
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff3946;
}

.blog h2{
	font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    color: #314584;
    margin-bottom: 30px;
}
.blog-Content{
	clear: both;
}
.blog-Content .blog-1{
	background: #fff;
    width: 31%;
    margin-right: 3%;
    float: left;
    box-sizing: border-box;
    padding: 40px 20px 30px 20px;
    color: #314584;
    box-shadow: 0px 3px 6px 2px #cac9c9;
}
.blog-Content .blog-1:last-of-type{
    margin-right: 0%;
}
.blog-Content .blog-1:hover{
	background: #ff3946;
	color: #fff;
}

.blog-Content .blog-1 h5{
	font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.blog-Content .blog-1 h6{
	font-size: 12px;
    margin-bottom: 25px;
    line-height: 22px;
}

.blog-Content .blog-1 p{
	
    font-size: 14.11px;
    margin-bottom: 30px;
    line-height: 20px;

}
.blog-Content .blog-1 a{
	text-decoration: none;
    float: right;
    padding-right: 10px;
    color: #ff3946;
}
.blog-Content .blog-1 a:hover{
	text-decoration: none;
    float: right;
    padding-right: 10px;
    color: #fff;
}




.Contact {
	padding-top: 40px;

}

.Contact h4{
	font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ff3946;
}

.Contact h2{
	font-size: 45px;
    font-weight: bold;
    margin-top: 30px;
    color: #314584;
    margin-bottom: 30px;
    text-transform: capitalize;
}

.Contact {
}

.contact-Content form{
	margin-bottom: 40px;
}
::placeholder {
  	color: #314584;
	font-weight: bold;
}


.contact-Content form input{
	width: 48.2%;
    margin-right: 3%;
    background: #f4fafe;
    box-sizing: border-box;
    outline: none;
    padding: 15px 0px 15px 10px;
	margin-bottom: 20px;
	border: none;
	color: #314584;
	font-weight: bold;
}
.contact-Content form input:last-of-type{
	
    margin-right: 0%;
    
}

.contact-Content form textarea{
	width: 100%;
    height: 100px;
    padding: 15px 0px 15px 10px;
    resize:none;
    background: #f4fafe;
    border: none;
    box-sizing: border-box;
    outline: none;
    color: #314584;
	font-weight: bold;
}
.contact-Content a{
	text-decoration: none;
    
}
.contact-Content li{
	text-align: center;
    list-style: none;
    margin-top: 40px;
}
footer{
	padding-top: 40px;
	text-align: center;
	background-color: #314584;
	color: #fff;
}
footer p:first-of-type{
	margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}
footer p{
	font-size: 12px;
    text-transform: capitalize;
    margin-bottom: 20px;
}
footer h2{
	font-size: 30px;
    font-weight: bold;
    margin-top: 10px;
    color: #ff3946;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
	
}

footer .footer-menu{
	width: 100%;
}
footer .footer-menu ul{
}
footer .footer-menu ul li{
	
}
footer .footer-menu ul li a{
	text-decoration: none;
	color: #fff;
}

footer ul{
	padding-bottom: 20px;
}
footer ul li{
	display: inline-block;
    margin-right: 25px;
}
footer ul li a img{
	height: 20px;
    width: 20px;
}
.social {
}
/*Custom CSS end*/
